#cont1{
            display: grid;
            grid-template-columns: repeat(2,2fr);
            grid-template-rows: repeat(1,80px);
            gap: 250px;
}        
#cont1>div{
            
            display: flex;
            gap: 55px;
            
}
#cont1>div>div{
            gap: 30px;
}
#cont2{
            height: 0px;
            width: 100%;
            border: 1px solid rgb(114, 110, 110);
}
#cont3{
            height: 0px;
            width: 100%;
            border: 1px solid rgb(216, 211, 211);
}
#cont4{
            display: grid;
            grid-template-columns: repeat(8,1fr);
            grid-template-rows: repeat(1,30px);
            gap: 20px;
            width: 40%;
            margin: auto;

}
#cont4>div{
            border: 1px solid rgb(218, 213, 213);
            
            gap: 30px;
            display: flex;
            font-size: 15px;
            justify-content: center;
            align-items: center;
            

}
.container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(1,40px);
            width: 20%;
            gap: 20px;
            margin-top: 30px;
            margin-left: 30px;
}
.container>div{
            border: 1px solid rgb(206, 194, 194);
            display: flex;
            font-size: 20px;
            text-align: center;
            justify-content: center;
            padding-top: 8px;

            
}
#cont5{
            display: grid;
            grid-template-columns: repeat(3,2fr);
            grid-template-rows: repeat(20,600px);
            gap: 20px;
            margin-top: 40px;
            

}
#cont5>div{
            
            font-size: 15px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            

}
#image{
            height: 70%;
            width: 100%;
            
}
